.monmagasin{
    display: block;
    position: static;
    .infoblock{
        @include withtxtparams;
        ul{
            @include cleanmyul;
            li{
                button{
                    @include backofficebtn01;
                }
            }
        }
        .addproductclass{
            position: relative;
            width: fit-content;
            display: flex;
            .productclass{
                position: relative;
                min-width: 300px;
                padding: 0 $defaultvalue;
                display: flex;
                flex-direction: column;
            }
        }
    }
    button{
        @include backofficebtn01;
    }
}
