@charset "UTF-8";
* {
  box-sizing: border-box;
  border-radius: 2px;
}

@font-face {
  font-family: nunito;
  src: url("../../public/fonts/Nunito-Italic-VariableFont_wght.ttf");
}
* {
  box-sizing: border-box;
}

body {
  font-family: nunito;
  color: #22303C;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  position: static;
}
body h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
body h2 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}
body .container {
  display: block;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: whitesmoke;
  margin: 0;
  padding: 0;
}
body input {
  display: block;
  max-width: 400px;
  width: 50%;
  min-width: 300px;
  padding: 0.5rem;
  margin: 0.3rem;
  border: solid 1px #c3ced7;
}
body .imginput {
  display: inline-block;
  max-width: 200px;
  width: 50%;
  min-width: 150px;
  padding: 0.3rem;
  margin: 0.3rem 0;
  border: solid 1px #c3ced7;
}
body Editor {
  background-color: white;
}
body .modalleftcol {
  background: #838B92;
  margin: 1%;
  padding: 1%;
}
body .bricks {
  position: relative;
  display: block;
  width: 100%;
}
body .brickctnr {
  position: relative;
  display: block;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  height: auto;
  justify-content: center;
  flex-wrap: wrap;
}
body .brickctnr .blockbrick {
  display: inline-block;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1% 1%;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
body .brickctnr .blockbrick div {
  display: flex;
  align-items: flex-start; /* Aligner l'image et la croix en haut */
  max-width: 150px;
}
body .brickctnr .blockbrick div img {
  display: block;
  margin: auto;
  height: auto;
  max-width: 150px;
}
body .brickctnr .blockbrick div .todeleteme {
  margin: auto;
  height: auto;
  max-width: 150px;
  display: inline-block;
  position: absolute;
  left: 90%;
}
body .brickctnr .blockbrick div .todeleteme::after {
  content: "X";
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  left: 75%;
  top: -13px;
  width: 30px;
  height: 25px;
  border-radius: 50px;
  background-color: rgba(78, 78, 78, 0.71);
  z-index: 10;
  padding-top: 3px;
  text-align: center;
  cursor: pointer;
  color: white;
}
body .brickctnr .blockbrick div .todeleteme:hover::after {
  background-color: #4C5B68;
}
body .brickctnr .blockbrick div .todeleteme img {
  display: block;
  margin: 0; /* Enlever le margin auto pour éviter un centrage vertical */
  height: auto;
  max-width: 150px;
}
body .separatecol {
  position: relative;
  display: flex;
  margin: auto;
  max-width: 95%;
}
body .separatecol .col01 {
  position: relative;
  display: block;
  width: 100%;
}
body .separatecol .col01 img {
  display: block;
  margin: auto;
  height: auto;
  max-width: 150px;
}
body .separatecol .col02 {
  position: relative;
  display: block;
  width: 100%;
}
body .separatecol .col02 img {
  display: block;
  margin: auto;
  height: auto;
  max-width: 150px;
}
body .lastbutton {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
body .lastbutton button {
  background-color: #c3ced7;
  color: #22303C;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  border: solid 1px #c3ced7;
  padding: 0.5rem 2rem;
  margin: 0.1rem;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  margin: 1rem;
}
body .lastbutton button:hover {
  background-color: #22303C;
  color: #c3ced7;
}
body textarea {
  display: block;
  position: relative;
  resize: vertical;
  width: 100%;
  min-width: 50%;
}
body .myfontawesome {
  padding: 0.3rem 0.5rem !important;
  margin: 0.3rem !important;
}
body .imagegrid {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "ap01 bp" "ap02 bp" "ap03 bp" "ap04 bp" "ap05 bp" "ap06 bp";
}
body .imagegrid img {
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
body .imagegrid .pplimage {
  grid-area: bp;
}
body .imagegrid .gridimage01 {
  grid-area: ap01;
  position: relative;
  width: 70px;
  height: 70px;
  background-color: green;
}
body .imagegrid .gridimage02 {
  grid-area: ap02;
  position: relative;
  width: 70px;
  height: 70px;
  background-color: pink;
}
body .imagegrid .gridimage03 {
  grid-area: ap03;
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #82B8E7;
}
body .imagegrid .gridimage04 {
  grid-area: ap04;
  position: relative;
  width: 70px;
  height: 70px;
  background-color: whitesmoke;
}
body .imagegrid .gridimage05 {
  grid-area: ap05;
  position: relative;
  width: 70px;
  height: 70px;
  background-color: whitesmoke;
}
body .imagegrid .gridimage06 {
  grid-area: ap06;
  position: relative;
  width: 70px;
  height: 70px;
  background-color: whitesmoke;
}

.formback {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
}
.formback .formcontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 50%;
  min-width: 350px;
  margin: auto;
  background: radial-gradient(circle at center, #22303C, #23293D);
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.3rem;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.formback .formcontainer h1 {
  color: #c3ced7;
}
.formback .formcontainer form {
  width: -moz-max-content;
  width: max-content;
}
.formback .formcontainer form input {
  display: block;
  max-width: 400px;
  width: 50%;
  min-width: 300px;
  padding: 0.5rem;
  margin: 0.3rem;
  border: solid 1px #c3ced7;
}
.formback .formcontainer button {
  padding: 0.3rem;
  margin: 0.3rem;
  border-radius: 5px;
}
.formback .formcontainer a {
  color: #c3ced7;
}

.pplban {
  position: inherit;
  display: block;
  width: 100%;
  height: 40vh;
  background-color: #22303C;
  background: url("../../../public/image/pdc.jpg") top/cover;
}

.prsnlban {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.3rem 0;
  text-align: center;
}

.column01 {
  position: relative;
  width: 15%;
  min-height: 60vh;
  background-color: #22303C;
  position: relative;
  float: left;
  height: 100%;
}
.column01 .block01 button {
  display: block;
  position: relative;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px whitesmoke;
  background-color: #c3ced7;
  color: #22303C;
  text-decoration: none;
  cursor: pointer;
}
.column01 .block01 button:hover {
  background-color: #22303C;
  color: #c3ced7;
}

.column02 {
  position: relative;
  width: 85%;
  min-height: 60vh;
  background-color: whitesmoke;
  padding: 0 2rem 2rem;
  position: static;
  display: inline-block;
}
.column02 .contentcontainer {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  position: static;
}
.column02 .contentcontainer h1 {
  display: block;
  text-align: center;
}

.monmagasin .infoblock {
  position: relative;
  display: block;
  min-width: 50%;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5rem;
  padding: 1rem 2rem;
  border: solid 1px #c3ced7;
  border-radius: 5px;
}
.monmagasin .infoblock ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.monmagasin .infoblock ul li form {
  display: inline-block;
}
.monmagasin .infoblock ul li form input {
  display: inline-block !important;
}
.monmagasin .infoblock ul li form input[type=submit] {
  max-width: 30px;
  min-width: 30px;
  display: inline-block !important;
}
.monmagasin .infoblock ul li button {
  background-color: #c3ced7;
  color: #22303C;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  border: solid 1px #c3ced7;
  padding: 0.5rem 2rem;
  margin: 0.1rem;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 350px;
}
.monmagasin .infoblock ul li button:hover {
  background-color: #22303C;
  color: #c3ced7;
}

.monmagasin {
  display: block;
  position: static;
}
.monmagasin .infoblock {
  position: relative;
  display: block;
  min-width: 50%;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5rem;
  padding: 1rem 2rem;
  border: solid 1px #c3ced7;
  border-radius: 5px;
}
.monmagasin .infoblock ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.monmagasin .infoblock ul li button {
  background-color: #c3ced7;
  color: #22303C;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  border: solid 1px #c3ced7;
  padding: 0.5rem 2rem;
  margin: 0.1rem;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 350px;
}
.monmagasin .infoblock ul li button:hover {
  background-color: #22303C;
  color: #c3ced7;
}
.monmagasin .infoblock .addproductclass {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
}
.monmagasin .infoblock .addproductclass .productclass {
  position: relative;
  min-width: 300px;
  padding: 0 0.3rem;
  display: flex;
  flex-direction: column;
}
.monmagasin button {
  background-color: #c3ced7;
  color: #22303C;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  border: solid 1px #c3ced7;
  padding: 0.5rem 2rem;
  margin: 0.1rem;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 350px;
}
.monmagasin button:hover {
  background-color: #22303C;
  color: #c3ced7;
}

#navigation {
  display: block;
  position: static;
  width: 100%;
  z-index: 1;
  background-color: #c3ced7;
}
#navigation .mylinks {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}
#navigation .mylinks .logocontainer {
  position: relative;
  padding: 0.3rem;
}
#navigation .mylinks .linkcontainer {
  position: relative;
  display: flex;
}
#navigation .mylinks .linkcontainer a, #navigation .mylinks .linkcontainer button {
  padding: 0.3rem;
  background-color: #c3ced7;
  color: #22303C;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
#navigation .mylinks .linkcontainer a:hover, #navigation .mylinks .linkcontainer button:hover {
  background-color: #22303C;
  color: #c3ced7;
}

#footer {
  position: relative;
  display: block;
  width: 100%;
  min-height: 20vh;
  background-color: #22303C;
  color: #c3ced7;
  border-top: solid 1rem #c3ced7;
}
#footer .footercontainer {
  display: flex;
}
#footer .footercontainer h2 {
  text-decoration: underline;
  color: #f0ad4e;
}
#footer .footercontainer .colone {
  position: relative;
  display: block;
  width: 100%;
  width: 35%;
  padding: 2rem;
}
#footer .footercontainer .coltwo {
  position: relative;
  display: block;
  width: 100%;
  width: 30%;
  padding: 2rem;
}
#footer .footercontainer .coltwo ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#footer .footercontainer .coltwo ul li a {
  color: #c3ced7;
  text-decoration: none;
  cursor: pointer;
}
#footer .footercontainer .coltwo ul li a:hover {
  color: whitesmoke;
}
#footer .footercontainer .colthree {
  position: relative;
  display: block;
  width: 100%;
  width: 35%;
  padding: 2rem;
}
#footer .footercontainer .colthree ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.createshop select {
  display: block;
  max-width: 400px;
  width: 50%;
  min-width: 300px;
  padding: 0.5rem;
  margin: 0.3rem;
  border: solid 1px #c3ced7;
}
.createshop textarea {
  display: block;
  max-width: 400px;
  width: 50%;
  min-width: 300px;
  padding: 0.5rem;
  margin: 0.3rem;
  border: solid 1px #c3ced7;
  resize: vertical;
}

.modal {
  position: relative;
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  z-index: 1;
  text-align: center;
  display: none;
  flex-direction: column;
}
.modal .modal-content {
  position: relative;
  padding: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 75%;
  max-width: 85%;
  margin: 45px auto;
  background-color: whitesmoke;
  border-radius: 5px;
  z-index: 5;
  color: #22303C;
}
.modal .modal-content .modal-header {
  position: relative;
  display: block;
  width: 100%;
}
.modal .modal-content .modal-body {
  position: relative;
  display: block;
  width: 100%;
}
.modal .modal-content .modal-body .formcontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: whitesmoke;
  align-items: center;
  justify-content: center;
}
.modal .modal-content .modal-body .formcontainer h1 {
  color: #22303C;
}
.modal .modal-content .modal-body .formcontainer form {
  text-align: left;
}
.modal .modal-content .modal-body .formcontainer form select {
  display: block;
  max-width: 400px;
  width: 50%;
  min-width: 300px;
  padding: 0.5rem;
  margin: 0.3rem;
  border: solid 1px #c3ced7;
}
.modal .modal-content .modal-footer {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.modal .modal-content .modal-footer button {
  width: 50%;
  max-width: 200px;
  min-width: 100px;
  background-color: #c3ced7;
  color: #22303C;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  border: solid 1px #c3ced7;
  padding: 0.5rem 2rem;
  margin: 0.1rem;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 350px;
}
.modal .modal-content .modal-footer button:hover {
  background-color: #22303C;
  color: #c3ced7;
}
.modal .modal-content .modal-footer .linkbutton {
  border: none;
  background-color: #22303C;
  color: #c3ced7;
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
}
.modal .modal-content .modal-footer .linkbutton:hover {
  color: whitesmoke;
}/*# sourceMappingURL=index.css.map */